files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_get_ssm_parameters.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      REGION=ap-southeast-1  # replace with your region

      # Fetch parameters from SSM
      STAGING_CLIENT_ID=$(/usr/local/bin/aws ssm get-parameter --region $REGION --name STAGING_CLIENT_ID --query Parameter.Value --output text --with-decryption)
      STAGING_CLIENT_SECRET=$(/usr/local/bin/aws ssm get-parameter --region $REGION --name STAGING_CLIENT_SECRET --query Parameter.Value --output text --with-decryption)

      # Set environment variables
      echo "export CLIENT_ID=$STAGING_CLIENT_ID" >> /opt/elasticbeanstalk/support/envvars
      echo "export CLIENT_SECRET=$STAGING_CLIENT_SECRET" >> /opt/elasticbeanstalk/support/envvars

packages:
  yum:
    awscli: []

commands:
  01_get_ssm_parameters:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_get_ssm_parameters.sh"
