files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_fetch_ssm_parameters.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      aws configure set default.region ap-southeast-1

      CLIENT_ID=$(aws ssm get-parameter --name STAGING_CLIENT_ID --with-decryption --query "Parameter.Value" --output text)
      echo "export CLIENT_ID=$CLIENT_ID" >> /opt/elasticbeanstalk/deployment/env

      CLIENT_SECRET=$(aws ssm get-parameter --name STAGING_CLIENT_SECRET --with-decryption --query "Parameter.Value" --output text)
      echo "export CLIENT_SECRET=$CLIENT_SECRET" >> /opt/elasticbeanstalk/deployment/env
