name: Deploy to production

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:

jobs:
  deploy-app:
    name: Deploy app to production
    uses: ./.github/workflows/aws_deploy.yml
    with:
      aws-region: "ap-southeast-1"
      cicd-role: "arn:aws:iam::095733531422:role/isomer-infra-prod-deploy-role"
      ecr-repository: "isomer-infra-prod-ecr"
      ecs-cluster-name: "isomer-prod-ecs"
      ecs-web-service-name: "isomer-prod-ecs-service"
      ecs-container-name: "backend"
      ecs-container-port: 8081
      environment: "prod"
      shortEnv: "prod"
      task-definition-path: ".aws/deploy/backend-task-definition.prod.json"
      codedeploy-application: "isomer-prod-ecs-app"
      codedeploy-deployment-group: "isomer-prod-ecs-dg"
      path-to-dockerfile: "Dockerfile"

    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      EFS_FILE_SYSTEM_ID: ${{ secrets.PROD_EFS_FILE_SYSTEM_ID }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
      RDS_READER_ENDPOINT: ${{ secrets.PROD_RDS_READER_ENDPOINT }}
      RDS_DATADOG_PASSWORD: ${{ secrets.PROD_RDS_DATADOG_PASSWORD }}

  deploy-support:
    name: Deploy support to staging
    uses: ./.github/workflows/aws_deploy.yml
    with:
      aws-region: "ap-southeast-1"
      cicd-role: "arn:aws:iam::095733531422:role/isomer-infra-prod-deploy-role"
      ecr-repository: "isomer-infra-prod-ecr"
      ecs-cluster-name: "isomer-prod-ecs"
      ecs-web-service-name: "prod-support-ecs-service"
      ecs-container-name: "support"
      ecs-container-port: 8082
      environment: "prod"
      shortEnv: "prod"
      task-definition-path: ".aws/deploy/support-task-definition.prod.json"
      codedeploy-application: "prod-support-ecs-app"
      codedeploy-deployment-group: "prod-support-ecs-dg"
      path-to-dockerfile: "support/Dockerfile"

    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      EFS_FILE_SYSTEM_ID: ${{ secrets.PROD_EFS_FILE_SYSTEM_ID }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
